<p id="notice"><%= notice %></p>

<h1>Bookingtickets</h1>

<table class= "table table-striped table-bordered table-hover">
  <thead class="thead-dark">
    <tr>
      <th>Event name</th>
      <th>Location</th>
      <th>Date</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bookingtickets.each do |bookingticket| %>
      <tr>
        <td><%= bookingticket.event_name %></td>
        <td><%= bookingticket.location %></td>
        <td><%= bookingticket.Date %></td>
        <td><%= bookingticket.Price %></td>
        <td><%= link_to 'Show', bookingticket %></td>
        <td><%= link_to 'Edit', edit_bookingticket_path(bookingticket) %></td>
        <td><%= link_to 'Destroy', bookingticket, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Buy tickets', new_bookingticket_path, class:"btn btn-secondary" %>
<%= link_to 'pay', new_user_registration_path, class:"btn btn-primary" %>



