<p id="notice"><%= notice %></p>


<div class="jumbotron">
  <h1 class="display-4"><%= @bookingticket.event_name %><%= @bookingticket.location %></h1>
  <p class="lead"> 
  	<%= @bookingticket.Date %> |
  	<%= @bookingticket.Price %>

  	


  </p>
  
<b/><b/>


    <%= link_to 'Edit', edit_bookingticket_path(@bookingticket), class: "btn btn-secondary" %> |
<%= link_to 'Back', bookingtickets_path,class: "btn btn-info"  %>
  </p>
</div>




